div{
    color:green;
        width: 500px;
        height:100px;
        border:1px solid blue;
       
}
.Top{
    margin-left:263px;
    margin-bottom: 20px;
    margin-top:20px;
    padding: 40px;
    
}
.Bottom
{
    margin-top: 386px;
    margin-left: 263px;
}